_site/*
_site
/_site/about/index.html
/_site/assets/css/style.css
/_site/404.html
/_site/CODE_OF_CONDUCT.md
/_site/History.html
/_site/History.markdown
/_site/index.html
/_site/LICENSE.txt
/_site/minima.gemspec
/_site/README.md
/_site/screenshot.png
/.sass-cache
/Gemfile.lock
/Gemfile
